.Details {
    // TODO: Move the image to the component and update with props
    background: url('https://images.unsplash.com/photo-1454944338482-a69bb95894af?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80')no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
    height: 720px;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left,
    .right {
        height: 100%;
    }

    // last element should sit on the same level as author
    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .right {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;

        .heading {
            letter-spacing: 3px;
            font-size: 72px;
            color: #535c68;
            text-align: right;
            padding: 12px;
            text-transform: uppercase;
        }
    }

    .icon {
        height: 2rem;
        object-fit: scale-down;
        width: auto;
    }

    .ingredients {
        margin-top: 50px;
        padding: 12px 0;
        color: #000;

        h3 {
            text-decoration: underline;
        }

        ul {
            list-style: none;
            margin-top: 12px;
            padding: 0;

            li {
                padding: 4px 0;
                font-size: 12px;
                letter-spacing: 1px;
                padding-left: 8px;
                font-weight: bold;
            }
        }
    }
}

.statValue {
    height: 90px;
    width: 90px;
    padding: 8px;
    text-align: center;
    letter-spacing: 1px;
    background: white;
    margin-right: 8px;
    box-shadow: 0 0 10px #2323;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h6 {
        color: #a4b0be;
        letter-spacing: 2px;
        margin: 0;
    }

    .value {
        font-size: 11px;
    }
}


.author {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
    box-shadow: 0 0 10px #2323;
    padding: 0.5rem 1rem;

    h5 {
        letter-spacing: 2px;
        padding-bottom: 4px;
        margin: 0;
    }
}